# Base settings to create the containers.
PROXY=proxy

PROJECT_NAME=hpc-content-local

REGISTRY=public.ecr.aws/unocha
IMAGE_NAME=hpc-content-site
IMAGE_TAG=local

SITE_DOMAIN=hpc-content-local.test

MYSQL_DB=hpc-content
MYSQL_USER=hpc-content
MYSQL_PASS=hpc-content

PHP_ENVIRONMENT=local
PHP_XDEBUG=true
