.gho-home-page {
  margin-top: -2rem; /* cancel out the CD layout padding */
}
@media (min-width: 768px) {
  .gho-home-page {
    margin-top: -3rem;
  }
}
.gho-home-page--no-content {
  margin-bottom: -2rem; /* cancel out the CD layout padding */
}
@media (min-width: 1024px) {
  .gho-home-page--no-content {
    margin-bottom: -4rem;
  }
}

/* Reset to use the CD layout bottom padding when the node is promoted which
 * means it's content (section indices etc.) will be visible. */
.gho-home-page.node--promoted {
  margin-bottom: 0;
}

.gho-home-page .node__content {
  margin: 0; /* work with gho-bleed */
  position: relative; /* for summary/link */
}

.gho-home-page__header {
  position: relative;
}
.gho-home-page__header__content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* if we want a much more gradual font-size increase, use the two commented props
   in this rule (font-size/max-width) and then comment all media queries. */
.gho-home-page__msg {
  width: 100%;
  max-width: 285px;
  /*max-width: 15ch;*/
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2em;
  /*font-size: calc(.8em + 3vw);*/
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.gho-home-page__msg p:first-of-type {
  margin-top: 0;
}
.gho-home-page__msg p:last-of-type {
  margin-bottom: 0;
}

/* only need to change max-width when changing font-size */
@media screen and (min-width: 576px) {
  .gho-home-page__msg {
    max-width: 300px;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 768px) {
  .gho-home-page__msg {
    max-width: 420px;
    font-size: 2.5em;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .gho-home-page__msg {
    max-width: 460px;
    font-size: 3.25em;
    margin-bottom: 2rem;
  }
}

.gho-home-page__link {
  display: block;
  color: white;
  border: 1px solid white;
  padding: .5rem;
  font-size: .75em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.gho-home-page__link:hover {
  color: white;
  text-decoration: underline;
}

/**
 * Special handling of the first sub-article on the homepage which for some
 * reason has a smaller font-size for its title according to the design doc.
 */
.gho-home-page .field--name-field-paragraphs > :first-child .gho-sub-article__header {
  padding-top: 0;
  border-top: 0;
}
.gho-home-page .field--name-field-paragraphs > :first-child .gho-sub-article__title {
  max-width: none;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
