.gho-home-page {
  margin-top: -2rem; /* cancel out the CD layout padding */
}

@media (min-width: 1024px) {
  .gho-home-page {
    margin-top: -3rem;
  }
}
.gho-home-page--no-content {
  margin-bottom: -2rem; /* cancel out the CD layout padding */
}

@media (min-width: 1024px) {
  .gho-home-page--no-content {
    margin-bottom: -4rem;
  }
}

/* Reset to use the CD layout bottom padding when the node is promoted which
 * means it's content (section indices etc.) will be visible. */
.gho-home-page.node--promoted {
  margin-bottom: 0;
}

.gho-home-page__header {
  position: relative;
}
.gho-home-page__header__content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* if we want a much more gradual font-size increase, use the two commented props
   in this rule (font-size/max-width) and then comment all media queries. */
.gho-home-page__msg {
  width: 100%;
  max-width: 285px;
  /* max-width: 15ch; */
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  /* font-size: calc(.8em + 3vw); */
  line-height: 1;
}
.gho-home-page__msg p:first-of-type {
  margin-top: 0;
}
.gho-home-page__msg p:last-of-type {
  margin-bottom: 0;
}

/* only need to change max-width when changing font-size */
@media screen and (min-width: 576px) {
  .gho-home-page__msg {
    max-width: 300px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 768px) {
  .gho-home-page__msg {
    max-width: 420px;
    margin-bottom: 1.5rem;
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .gho-home-page__msg {
    max-width: 460px;
    margin-bottom: 2rem;
    font-size: 3.25em;
  }
}

.gho-home-page__link {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  font-size: 0.75em;
  font-weight: 700;
}

.gho-home-page__link:hover,
.gho-home-page__link:focus {
  text-decoration: underline;
  color: #fff;
  outline: 3px solid white;
  outline-offset: 0;
}

/**
 * Special handling of the first sub-article on the homepage which for some
 * reason has a smaller font-size for its title according to the design doc.
 *
 * GHO-131: these styles were commented out because we're changing how the hoem
 * page looks with several special customizations to existing paragraph types.
 */
/*
.gho-home-page__content .gho-sub-article-paragraph:first-child {
  margin-top: 3rem;
  padding-top: 0;
  border-top: 0;
}
.gho-home-page__content .gho-sub-article-paragraph:first-child .gho-sub-article__header {
  margin-bottom: 2rem;
}
.gho-home-page__content .gho-sub-article-paragraph:first-child .gho-sub-article__title {
  font-size: 1.25rem;
  line-height: 2rem;
}
@media (min-width: 1024px) {
  .gho-home-page__content .gho-sub-article-paragraph:first-child .gho-sub-article__title {
    font-size: 1.5rem;
  }
}
*/

/* ------------------------------------------------------------------------------
 * Homepage customizations to existing paragraph types
 *
 * Some declarations are quite specific to ensure they never spill elsewhere and
 * also override any selectors in the components themselves.
 *---------------------------------------------------------------------------- */

/**
 * Homepage hero caption.
 */
.gho-home-page__content > .gho-caption {
  margin-top: 2.25rem;
  padding-bottom: 0;
  text-align: center;
}
.gho-home-page__content > .gho-caption > * {
  max-width: none;
}
.gho-home-page__content > .gho-caption::after {
  content: none;
}

/**
 * Homepage GHO large logo.
 */
.gho-home-page__content > .gho-home-page__logo {
  margin-top: 3.75rem;
}
.gho-home-page__content > .gho-home-page__logo::before {
  display: block;
  padding-bottom: 2.25rem;
  content: "";
  border-top: 1px solid #d8d8d8;
}
.gho-home-page__content > .gho-home-page__logo img {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

/**
 * Homepage needs and requirements.
 */
.gho-home-page__content > .gho-needs-and-requirements-paragraph {
  margin-top: 6.25rem;
  text-align: center;
}

@media (min-width: 768px) {
  .gho-home-page__content > .gho-needs-and-requirements-paragraph .gho-needs-and-requirements-figure {
    padding: 0 1.5rem;
  }
}

/**
 * Homepage intro text.
 */
.gho-home-page__content > .gho-text .gho-text__text {
  max-width: none;
}

@media (min-width: 768px) {
  .gho-home-page__content > .gho-text .gho-text__text {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
.gho-home-page__content > .gho-text .gho-text__text p {
  margin: 0;
}

/**
 * Customize margins when Text appears directly after a Heading.
 */
.gho-home-page__content > .gho-heading + .gho-text {
  margin-top: 1rem;
}

/**
 * Homepage interactive table.
 */
.gho-home-page__content > .gho-interactive-content {
  margin-top: 3.75rem;
}
.gho-home-page__content > .gho-interactive-content::before {
  display: block;
  padding-bottom: 2.25rem;
  content: "";
  border-top: 1px solid #d8d8d8;
}
