parameters:
  level: 6
  paths:
    - bin/
    - config/
    - public/
    - src/
    - tests/

  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"

    # Ignore common errors for now.
    - "#Drupal calls should be avoided in classes, use dependency injection instead#"
    - "#^Class .* extends @internal class#"