<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="html/core/tests/bootstrap.php" colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    failOnWarning="true"
    printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
  >
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://hpc-content-site.docksal.site"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost//tmp/test.sqlite"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <env name="MINK_DRIVER_CLASS" value=''/>
    <env name="MINK_DRIVER_ARGS" value=''/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", { "chromeOptions": { "w3c": false } }, "http://browser:4444/wd/hub"]'/>
    <env name="DTT_BASE_URL" value="http://hpc-content-site.docksal.site"/>
    <env name="DTT_API_URL" value="http://localhost:9222"/>
    <env name="DTT_MINK_DRIVER_ARGS" value='["chrome", { "chromeOptions" : { "w3c": false } }, "http://localhost:4444/wd/hub"]'/>
    <env name="DTT_API_OPTIONS" value='{"socketTimeout": 360, "domWaitTimeout": 3600000}' />
  </php>
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">./html/modules/custom</directory>
    </include>
    <exclude>
      <directory suffix=".php">./html/modules/custom/**/tests</directory>
    </exclude>
    <report>
      <html outputDirectory="./logs" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>./html/modules/custom/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./html/modules/custom/*/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>./html/modules/custom/*/tests/src/FunctionalJavascript</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./html/modules/custom/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="existing-site">
      <directory>./html/modules/custom/*/tests/src/ExistingSite</directory>
    </testsuite>
    <testsuite name="existing-site-javascript">
      <directory>./html/modules/custom/*/tests/src/ExistingSiteJavascript</directory>
    </testsuite>
  </testsuites>
</phpunit>
