//——————————————————————————————————————————————————————————————————————————————
// Common Design: Variables
//——————————————————————————————————————————————————————————————————————————————

//——————————————————————————————————————————————————————————————————————————————
// Measurements
//——————————————————————————————————————————————————————————————————————————————
$cd-max-body-width: var(--cd-max-body-width);
$cd-max-width: var(--cd-max-width);

$cd-container-padding: var(--cd-container-padding);
$cd-container-padding-tablet: var(--cd-container-padding-tablet);
$cd-container-padding-xlarge: var(--cd-container-padding-xlarge);

$cd-global-header-height: 35px;
$cd-site-header-height: 60px;

// Colour palette
$cd-ocha-blue: var(--cd-ocha-blue);
$cd-blue--dark: var(--cd-blue--dark);
$cd-blue--bright: var(--cd-blue--bright);
$cd-blue--light: var(--cd-blue--light);

$cd-grey--light: var(--cd-grey--light);
$cd-grey--mid: var(--cd-grey--mid);
$cd-grey--dark: var(--cd-grey--dark);

// Default text colour.
$cd-default-text-color: var(--cd-default-text-color);

$cd-white: var(--cd-white);
$cd-black: var(--cd-black);

// Site background colour.
$cd-blue-grey--dark: var(--cd-blue-grey--dark);
$cd-blue-grey: var(--cd-blue-grey);
$cd-blue-grey--light: var(--cd-blue-grey--light);

$cd-highlight-red: var(--cd-highlight-red);
$cd-contrast-red: var(--cd-contrast-red);

$cd-rgb-ocha-blue: var(--cd-rgb-ocha-blue);
$cd-rgb-grey--mid: var(--cd-rgb-grey--mid);
$cd-rgb-grey--dark: var(--cd-rgb-grey--dark);
$cd-rgb-highlight-red: var(--cd-rgb-highlight-red);
$cd-rgb-blue-grey--dark: var(--cd-rgb-blue-grey--dark);

// Brand colours
$cd-primary: $cd-ocha-blue;
$cd-primary--dark: $cd-blue--dark;

//——————————————————————————————————————————————————————————————————————————————
// Fonts
//——————————————————————————————————————————————————————————————————————————————

$cd-font: var(--cd-font);
$cd-font--system: var(--cd-font--system);
$cd-font--noto: var(--cd-font--noto);
$cd-font--noto-kufi: var(--cd-font--noto-kufi);
$cd-font--roboto: var(--cd-font--roboto);
$cd-font--roboto-condensed: var(--cd-font--roboto-condensed);
$cd-font--roboto-slab: var(--cd-font--roboto-slab);

//——————————————————————————————————————————————————————————————————————————————
// Font sizes
//——————————————————————————————————————————————————————————————————————————————

$cd-font-size--tiny: var(--cd-font-size--tiny);
$cd-font-size--small: var(--cd-font-size--small);
$cd-font-size--base: var(--cd-font-size--base);
$cd-font-size--medium: var(--cd-font-size--medium);
$cd-font-size--large: var(--cd-font-size--large);
$cd-font-size--2xbase: var(--cd-font-size--2xbase);
$cd-font-size--2xmedium: var(--cd-font-size--2xmedium);
$cd-font-size--2xlarge: var(--cd-font-size--2xlarge);

//——————————————————————————————————————————————————————————————————————————————
// Don't use any maps directly. Please refer to `_cd-mixins.scss` partial.
//——————————————————————————————————————————————————————————————————————————————

//
// Grid Breakpoints
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
) !default;

//
// CD Breakpoints correspond to the following grid breakpoints:
//
$cd-breakpoints: (
  tablet: #{map.get($grid-breakpoints, "md")},
  desktop: #{map.get($grid-breakpoints, "lg")},
  xlarge: #{map.get($grid-breakpoints, "xl")},
  xxlarge: #{map.get($grid-breakpoints, "xxl")},
);

//——————————————————————————————————————————————————————————————————————————————
// z-indices
//——————————————————————————————————————————————————————————————————————————————

$zindex: (
  default: 1,
  hidden: -1,
  sidebar: 110,
  sidebar-underlay: 100,
  main-menu: 199,
  search: 200,
  dropdown: 201,
  skip-link: 1000,
);

//——————————————————————————————————————————————————————————————————————————————
// Implementation colours
//——————————————————————————————————————————————————————————————————————————————
$un-blue: #3a90d2;
$gho-link-color: $cd-default-text-color;
$implementation-primary: var(--cd-implementation-primary);
$implementation-primary-dark: $cd-ocha-blue;
$implementation-secondary: var(--cd-implementation-secondary);
$implementation-highlight: $implementation-secondary;
$cd-site-header-height: 70px;

//——————————————————————————————————————————————————————————————————————————————
// Implementation Fonts
//——————————————————————————————————————————————————————————————————————————————

$cd-font: roboto, helvetica, arial, sans-serif;
$cd-font--system: system-ui;

// GHO font for arabic language
$gho-font--arabic: "Noto Kufi Arabic", roboto, sans-serif;
