//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————
.cd-ocha__btn {
  color: $implementation-secondary;
}

.cd-ocha__logo {
  // display: none; // yup, for GHO this won't show.
}

.cd-ocha__btn-label {
  // The CD sets our label to visually-hidden because normally the icon is there,
  // but GHO hides the icon so...
  @include max-width(md) {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    word-wrap: normal;
  }
}

.cd-ocha-dropdown__heading {
  color: $implementation-secondary;
}

.cd-ocha-dropdown__link {
  a {
    color: $implementation-secondary;

    &:hover {
      color: $implementation-secondary;
    }

    &:focus {
      color: $implementation-secondary;
      outline: 3px solid $implementation-secondary;
    }
  }
}

.cd-ocha-dropdown__see-all,
.cd-ocha-dropdown__see-all:focus {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $implementation-primary;
  border: 2px solid transparent;
  border-radius: 3px;
  background: $implementation-secondary;
  font-weight: 700;
}

.cd-ocha-dropdown__see-all:focus {
  border: 2px solid $un-blue;
  outline: 0;
}

//——————————————————————————————————————————————————————————————————————————————
// CD Footer overrides
//
// Before JS gets initialized, the OCHA Services menu is rendered in the Footer.
// These styles ensure it is visible and on-brand.
//——————————————————————————————————————————————————————————————————————————————
.no-js .cd-footer .cd-ocha {
  h2 {
    color: inherit;
  }

  .cd-ocha-dropdown__inner {
    padding: 0;
  }

  .cd-ocha-dropdown__link a {
    color: $implementation-secondary;
  }

  .cd-ocha-dropdown__see-all {
    color: $cd-white;
  }
}
