//——————————————————————————————————————————————————————————————————————————————
// Common Design: Main Navigation
//——————————————————————————————————————————————————————————————————————————————
.cd-nav__btn {
  height: $cd-site-header-height;
  color: $cd-black;

  &[aria-expanded] .cd-icon--arrow-down {
    fill: $un-blue;
  }

  &[aria-expanded="true"] {
    &::before {
      background: $implementation-highlight;
    }
  }
}

.cd-site-header__nav-holder {
  .cd-nav button {
    color: $cd-black;
  }

  // Download link.
  // In theory there is not going to be any other link in the main menu.
  // The classes on the ul and li are to have enough spcecificity to override
  // the normal behavior.
  .cd-nav > ul.menu > li.menu-item > a {
    &:not(:hover) {
      color: $cd-white;
      background: $implementation-highlight;
    }
  }

  // Active trail for mobile menu.
  @include max-width(lg) {
    .cd-nav > ul > li {
      > a.is-active::before,
      > button.is-active::before {
        background: $implementation-highlight;
      }

      // First level menu item with children.
      // Classes based on Drupal menu item configuration.
      &.menu-item--collapsed,
      &.menu-item--expanded {
        > a.is-active::before,
        > button.is-active::before {
          background: rgba($implementation-highlight, 0.2);
        }
      }

      &.menu-item--active-trail {
        a,
        button {
          &::before {
            background: rgba($implementation-highlight, 0.2);
          }

          &.is-active::before {
            background: $implementation-highlight;
          }
        }
      }

      > ul > li.menu-item--active-trail {
        a::before,
        button::before {
          background: rgba($implementation-highlight, 0.6);
        }

        a.is-active::before,
        button.is-active::before {
          background: $implementation-highlight;
        }
      }
    }
  }

  @include desktop {
    .cd-nav {
      height: $cd-site-header-height;
    }

    .cd-nav > ul {
      // @todo This should be put next to the place where the ul has its
      // display set to flex but I don't know where it is :'-(
      flex-wrap: nowrap;
    }

    .cd-nav > .menu {
      > .menu-item {
        &.menu-item--active-trail a::before,
        &.menu-item--active-trail button::before {
          background: $implementation-highlight;
        }

        > a,
        button {
          display: block;
          max-width: 180px;

          // Where to break the label is controlled when entering the content
          // by adding line breaks.
          span {
            white-space: pre;
          }

          &.is-active,
          &:focus {
            // sass-lint:disable nesting-depth
            &::before {
              background: $implementation-highlight;
            }
          }

          .cd-icon {
            // Ensure the icons have a fixed width/height regardless of the
            // length of the button label.
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        // While buttons keep their content centered vertically in display:block
        // links don't so we need to center its content another way.
        > a > span {
          position: relative;
          top: 50%;
          display: block;
          transform: translateY(-50%);
        }
      }

      > li > ul {
        a,
        button {
          &.is-active {
            border-left: 3px solid $implementation-highlight;
          }
        }

        > li.menu-item--active-trail .is-active {
          border-left: 3px solid $implementation-highlight;
        }
      }
    }

    a,
    button {
      text-align: left;

      html[dir="rtl"] & {
        text-align: right;
      }
    }
  }
}

//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//
// sass-lint:disable no-mergeable-selectors
//——————————————————————————————————————————————————————————————————————————————
.cd-site-header__nav-holder {
  .cd-nav > .menu {
    > .menu-item {
      > a,
      button {
        [dir="rtl"] & {
          text-align: right;
        }

        [dir="ltr"] & .cd-icon {
          margin-right: 0;
          margin-left: 4px;
        }

        [dir="rtl"] & .cd-icon {
          margin-right: 4px;
          margin-left: 0;
        }
      }
    }
  }

  @include desktop {
    .cd-nav > .menu {
      > .menu-item {
        [dir="rtl"] &:last-child {
          border-left: 1px solid $cd-blue-grey;
        }

        [dir="rtl"] &:first-child {
          border-left: 0;
        }

        [dir="rtl"] &:last-child > ul.menu {
          right: auto;
          left: 0;
        }

        &.menu-item--expanded > button {
          [dir="ltr"] & {
            padding-right: 36px;
            padding-left: 14px;
          }

          [dir="rtl"] & {
            padding-right: 14px;
            padding-left: 36px;
          }

          & .cd-icon {
            position: absolute;
            top: 50%;
            margin: 0;
            transform: translateY(-50%);
          }

          [dir="ltr"] & .cd-icon {
            right: 14px;
            left: auto;
          }

          [dir="rtl"] & .cd-icon {
            right: auto;
            left: 14px;
          }
        }
      }

      > li > ul {
        a,
        button {
          &.menu-item--active-trail {
            border-left: 6px solid $implementation-highlight;

            [dir="rtl"] & {
              border-right: 6px solid $implementation-highlight;
            }
          }
        }

        > li.menu-item--active-trail {
          border-left: 6px solid $implementation-highlight;

          [dir="rtl"] & {
            border-right: 6px solid $implementation-highlight;
          }
        }
      }
    }
  }

  @include max-width(lg) {
    .cd-nav > ul > li {
      a,
      button {
        &::before {
          right: 15px; // Half of the horizontal padding.
        }
      }
    }
  }
}
