//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  height: $cd-site-header-height;

  &:focus {
    outline: 3px solid $implementation-highlight;
  }

  img {
    height: $cd-site-header-height; // IE11
  }

  // Logo for mobile.
  @include max-width(md) {
    background: url("../img/logos/logo-mobile.svg") center no-repeat;
  }

  @include tablet {
    // Width of the logo.
    width: 240px;
  }
}
