//——————————————————————————————————————————————————————————————————————————————
// Common Design: Search
//——————————————————————————————————————————————————————————————————————————————
.cd-search__btn {
  height: 70px;
  color: $implementation-secondary;

  svg {
    fill: $implementation-secondary;
  }

  &:hover,
  &:focus {
    color: $implementation-secondary;

    svg {
      fill: $implementation-secondary;
    }
  }

  &:focus {
    color: $implementation-secondary;

    svg {
      fill: $implementation-secondary;
    }
  }

  &[aria-expanded="true"] {
    color: $implementation-highlight;

    svg {
      fill: $implementation-highlight;
    }
  }
}

.cd-search__submit {
  &:focus {
    background-color: $implementation-highlight;
  }
}

/* Override CD Header buttons */
.cd-header button.cd-search__btn[data-cd-toggler]:hover {
  background: var(--cd-blue-grey);
}
