//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header
//——————————————————————————————————————————————————————————————————————————————

// Ensure the main menu dropdown position is correct when there is also the
// drupal toolbar.
.cd-header {
  position: relative;
  font-family: $cd-font;

  html[lang="ar"] & {
    font-family: $gho-font--arabic;
  }
}

.cd-header button {
  html[lang="ar"] & {
    font-family: $gho-font--arabic;
  }
}

.cd-header button:focus {
  outline: 3px solid $implementation-highlight;
}

.cd-global-header {
  color: $implementation-secondary;
  background: $implementation-primary;
}

.cd-site-header__nav-holder {
  .cd-nav {
    @include max-width(lg) {
      &[data-cd-hidden="false"] {
        top: calc(#{$cd-global-header-height} + #{$cd-site-header-height} + 6px);
        height: calc(100vh - (#{$cd-global-header-height} + #{$cd-site-header-height} + 6px));
      }
    }
  }

  // Second level.
  .cd-nav > .menu > li > .menu {
    @include desktop {
      top: calc(#{$cd-site-header-height} + 6px); // border-bottom height
    }
  }

  @include desktop {
    .cd-nav > .menu {
      > .menu-item {
        > a,
        button {
          height: $cd-site-header-height;
          line-height: 1.2;
        }
      }
    }
  }
}

.cd-site-header__nav-holder nav > ul {
  > li,
  > .cd-nav__item {
    @include desktop {
      // Necessary in IE11 to have it respect the max-width... but also
      // useful in Arabic where the text can be quite short and this prevents
      // the buttons to be too narrow.
      min-width: 80px;
      max-width: 180px;
    }
  }
}

.cd-site-header__inner {
  height: $cd-site-header-height;

  //——————————————————————————————————————————————————————————————————————————————
  // GHO-4: RTL adjustments
  //
  // These need to be sent upstream once we're all happy with them.
  //
  //——————————————————————————————————————————————————————————————————————————————
  // IE11 can't do RTL grid
  [dir="rtl"] & {
    .cd-site-logo {
      float: right;
    }

    .cd-site-header__actions {
      float: left;
    }
  }

  @supports (display: grid) {
    grid-template-rows: $cd-site-header-height;
    grid-template-columns: 52px 1fr;

    @include tablet {
      grid-template-columns: 316px 1fr; // our widest logo is 316px
    }
  }

  @supports (display: grid) {
    // unset RTL styles for IE11
    .cd-site-logo,
    .cd-site-header__actions {
      float: none;
    }
  }
}
