//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————
.cd-ocha__btn {
  color: $implementation-secondary;
}

.cd-ocha__logo {
  display: none; // yup, for GHO this won't show.
}

.cd-ocha__btn-label {
  // The CD sets our label to visually-hidden because normally the icon is there,
  // but GHO hides the icon so...
  @include max-width(md) {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
    width: auto;
    word-wrap: normal;
  }
}

.cd-ocha-dropdown__heading {
  color: $implementation-secondary;
}

.cd-ocha-dropdown__link {
  a {
    color: $implementation-secondary;

    &:hover {
      color: $implementation-secondary;
    }

    &:focus {
      outline: 3px solid $implementation-secondary;
      color: $implementation-secondary;
    }
  }
}

.cd-ocha-dropdown__see-all,
.cd-ocha-dropdown__see-all:focus {
  border: 2px solid transparent;
  border-radius: 3px;
  background: $implementation-secondary;
  color: $implementation-primary;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.cd-ocha-dropdown__see-all:focus {
  outline: 0;
  border: 2px solid $un-blue;
}
