//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————
.cd-ocha-dropdown__heading {
  color: $cd-white;
}

.cd-ocha-dropdown__link {
  a {
    &:focus {
      outline: 3px solid $implementation-highlight;
    }
  }
}

.cd-ocha-dropdown__see-all {
  background: $implementation-highlight;
  color: $cd-default-text-color;
}

//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//——————————————————————————————————————————————————————————————————————————————
.cd-ocha__logo {
  margin-right: 0; // unsetting upstream CD

  [dir='ltr'] & {
    margin-right: 4px;
  }

  [dir='rtl'] & {
    margin-left: 4px;
  }
}
