//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header
//——————————————————————————————————————————————————————————————————————————————

// Ensure the main menu dropdown position is correct when there is also the
// drupal toolbar.
.cd-header {
  position: relative;
  font-family: $cd-font;
}

.cd-header button:focus {
  outline: 3px solid $implementation-highlight;
}

.cd-global-header {
  color: #111;
  background: $implementation-primary;
}

.cd-site-header__nav-holder nav > ul {
  > li,
  > .cd-nav__item {
    @include desktop {
      max-width: 280px;
    }
  }
}

//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//——————————————————————————————————————————————————————————————————————————————
.cd-site-header__inner {
  // IE11 can't do RTL grid
  [dir='rtl'] & {
    .cd-site-logo {
      float: right;
    }

    .cd-site-header__actions {
      float: left;
    }
  }

  @supports(display: grid) {
    grid-template-columns: 52px 1fr;

    @include tablet {
      grid-template-columns: 186px 1fr;
    }

    // unset RTL styles for IE11
    .cd-site-logo,
    .cd-site-header__actions {
      float: none;
    }
  }
}
