//——————————————————————————————————————————————————————————————————————————————
// Common Design: User Menu
//
// Includes user-centered settings and/or actions.
//
//——————————————————————————————————————————————————————————————————————————————

.cd-user-menu__item {
  &:focus {
    outline: 3px solid $implementation-highlight;
  }
}

//——————————————————————————————————————————————————————————————————————————————
// Drupal selectors
//——————————————————————————————————————————————————————————————————————————————

.cd-user-menu__dropdown-link,
.cd-global-header .menu > li a,
.cd-global-header .menu > li button {
  @extend .cd-user-menu__item;

  color: $implementation-secondary;
}

.cd-global-header {
  .cd-global-header__actions,
  .cd-global-header__actions > * {
    background: transparent;
  }

  .menu > li a::after {
    width: 1px;
    background: $implementation-secondary;
  }

  .menu svg {
    fill: $implementation-secondary;
  }

  //——————————————————————————————————————————————————————————————————————————————
  // GHO-4: RTL adjustments
  //
  // These need to be sent upstream once we're all happy with them.
  //——————————————————————————————————————————————————————————————————————————————
  .cd-global-header__user-menu > .menu {
    padding-right: 0;
  }
}
