//——————————————————————————————————————————————————————————————————————————————
// Common Design
//
// Imports everything in the `cd` folder and ensures that the templates provided
// in this theme for the Header/Footer will carry Common Design branding.
//——————————————————————————————————————————————————————————————————————————————
@import "cd/cd";

//——————————————————————————————————————————————————————————————————————————————
// Theme extras
//
// These optional Sass files can be used to start out with a more complete theme
// if you want something to get you started quickly.
//——————————————————————————————————————————————————————————————————————————————

@import "base/base";
@import "base/typography";

//——————————————————————————————————————————————————————————————————————————————
// Components
//——————————————————————————————————————————————————————————————————————————————

@import "components/editorial";
@import "components/forms";
@import "components/page_title";
@import "components/search";

@media print {
  .cd-layout-container,
  .cd-layout-container .cd-layout-content-wrapper {
    position: relative;
    display: block;
  }
  article.gho-article {
    position: relative;
    display: block;
    zoom: 0.65;
  }
  div.paragraph.gho-text p {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  div.paragraph p.highlight {
    page-break-after: avoid;
  }

  div.paragraph .gho-caption__text {
    line-height: 0.95rem;
  }
}
