/**
 * Base component styles
 */
.gho-further-reading {
  max-width: 768px;
  margin-bottom: 2rem;
}

/**
 * Title
 */
.gho-further-reading .field__label {
  color: black;
}

/**
 * Style list of links
 */
.gho-further-reading .field__item {
  border-top: 1px solid #ccc;
}

/**
 * Style last link in list
 */
.gho-further-reading .field__item:last-child {
  border-bottom: 1px solid #ccc;
}

/**
 * Actual hyperlink
 *
 * It's styled as a block element to allow all aspects of the component to be
 * clickable: the chevron and authorship line.
 */
.gho-further-reading a {
  display: block;
  font-weight: 700;
  padding: 1rem 0 3rem;
  position: relative; /* for pseudo positioning */
}
.gho-further-reading a::before {
  position: absolute;
  /* This, combined with the line-height, ensures the chevron is centered
   * vertically. */
  top: calc(50% - 0.75em);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 576px) {
  .gho-further-reading a::before {
    /* @todo Maybe this should be replaced with a SVG icon in the markup:
     * cd-icon--arrow-right for LTR and maybe cd-icon--arrow-left for RTL or
     * a simply a CSS rotation?. */
    content: '›';
  }
  [dir='ltr'] .gho-further-reading a::before {
    left: auto;
    right: 1rem;
  }
  [dir='rtl'] .gho-further-reading a::before {
    left: 1rem;
    right: auto;
  }
}

/**
 * Author / Source
 */
.gho-further-reading p {
  /* Move the source close to the link text. This puts the source in the
   * clicking area of the link at the cost of making it non selectable.
   * This can be "fixed" by adding `position: relative;` but then it's not
   * "clickable" anymore.
   *
   * Note: if the source is long then when it wraps to multiple lines, it may
   * not be fully included in the `3rem` space anymore. */
  margin: -3rem 0 1rem 0;
}
