.gho-achievement-list .field__items {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.gho-achievement-list .field__item {
  width: 100%;
}

@media (min-width: 504px) {
  .gho-achievement-list .field__item {
    flex: 0 0 calc((100% - 1rem) / 2);
  }
}

@media (min-width: 734px) {
  .gho-achievement-list .field__item {
    flex: 0 0 calc((100% - 2rem) / 3);
  }
}

@media (min-width: 960px) {
  .gho-achievement-list .field__item {
    flex: 0 0 calc((100% - 3rem) / 4);
  }
}

.gho-achievement-list .field--type-text-long {
  padding: 1rem 2rem 2rem;
  font-size: var(--cd-font-size--tiny);
}
