.gho-article-card-list {
  --gho-article-card-list-gap: 1.25rem;
  margin-top: 4.5rem;
}

.gho-article-card-list__title {
  margin: 0 0 1.5rem 0;
  color: #1f1f1f;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.gho-article-card-list__list .field__items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gho-article-card-list-gap);
}

@media screen and (min-width: 606px) {
  /**
   * Default: a basic 3-column layout
   */
  .gho-article-card-list__list .field__items > .field__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% - (2 * var(--gho-article-card-list-gap))) / 3);
  }

  /**
   * When the "Show first row as 2-column" checkbox is enabled, we make the
   * first row 2-col, then the rest are still 3-col.
   */
  .gho-article-card-list--show-2col .field__items > .field__item:nth-child(-n + 2) {
    flex-basis: calc((100% - var(--gho-article-card-list-gap)) / 2);
  }
}
