.gho-aside {
  margin-top: 4.5rem;
}
.gho-aside * {
  color: #707070;
}
.gho-aside--dark {
  margin-top: 6.75rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #1f1f1f;
}
.gho-aside--dark * {
  color: #fff;
}
.gho-aside__pre-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
}
.gho-aside__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
