form.node-document-form .paragraph--type--document-articles.paragraph--view-mode--preview,
form.node-document-edit-form .paragraph--type--document-articles.paragraph--view-mode--preview,
form.node-document-form .paragraph--type--document-chapter.paragraph--view-mode--preview,
form.node-document-edit-form .paragraph--type--document-chapter.paragraph--view-mode--preview {
  line-height: 2rem;
}
form.node-document-form .paragraph--type--document-chapter.paragraph--view-mode--preview .field--name-field-title,
form.node-document-edit-form .paragraph--type--document-chapter.paragraph--view-mode--preview .field--name-field-title {
  font-weight: bold;
  padding: 1rem 0;
}
form.node-document-form fieldset[data-drupal-selector="edit-field-hero-image"],
form.node-document-edit-form fieldset[data-drupal-selector="edit-field-hero-image"] {
  padding: 0;
  border: 0;
}
form.node-document-form fieldset[data-drupal-selector="edit-field-hero-image"] legend,
form.node-document-edit-form fieldset[data-drupal-selector="edit-field-hero-image"] legend {
  display: none;
}
form.node-document-form fieldset[data-drupal-selector="edit-field-hero-image"] .fieldset__wrapper,
form.node-document-edit-form fieldset[data-drupal-selector="edit-field-hero-image"] .fieldset__wrapper {
  margin: 0;
}
