/*------------------------------------------------------------------------------
 * Forms
 *----------------------------------------------------------------------------*/

/* Prevent overflow due to size attribute. */
.field--name-title .form-text {
  width: 100%;
}
/* Ensure the autocomplete suggestions appear above the rest. */
.ui-widget.ui-autocomplete {
  z-index: 10000;
}

/* Accomodate the new UI elements from Layout Paragraphs 2.0.x. */
.js-lpb-component-list > .js-lpb-component.paragraph {
  padding: 2.5rem;
}
/* Make sure the control label colors are not overwritten */
.js-lpb-component-list > .js-lpb-component.paragraph .lpb-controls-label {
  color: initial !important;
}

/*------------------------------------------------------------------------------
 * Styling of the tabs navigation when collapsed (ex: /admin/content)
 *----------------------------------------------------------------------------*/

/* Fix an issue where the hidden tabs are displayed due to a missing overflow
 * rule in core/themes/seven/css/compoenents/tabs.css line 153. */
.is-collapse-enabled .tabs {
  overflow: hidden;
}

/*------------------------------------------------------------------------------
 * Styling of the Text paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--text:not(.paragraph--view-mode--preview) {
  max-width: 720px;
}

.paragraph--type--text .highlight {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.25rem;
}
.paragraph--type--text blockquote {
  margin: 1.5rem 0;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #707070;
}

/* this is inside other stuff like Story */
.paragraph .field--type-text-long {
  max-width: 720px;
}

/*------------------------------------------------------------------------------
 * Styling of the Bottom Figures Row paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--bottom-figure-row.paragraph--view-mode--default .field__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.paragraph--type--bottom-figure-row.paragraph--view-mode--default .double-field-first {
  font-weight: bold;
}

/*------------------------------------------------------------------------------
 * Styling of the Facts and Figures paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--facts-and-figures {
  background: #222;
  color: white;
  padding: 1em;
}
.paragraph--type--facts-and-figures .field--name-field-title {
  padding-bottom: 1em;
  margin: 0;
}
.paragraph--type--facts-and-figures .field--name-field-paragraphs {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -.5em;
}
.paragraph--type--facts-and-figures .field--name-field-paragraphs > .field__item {
  flex: 0 0 32%;
  padding: 0 .5em;
}

/*------------------------------------------------------------------------------
 * Styling of the Story paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--story {
  background: #222;
  color: white;
  padding: 1em;
}
.paragraph--type--story .field--name-title {
  color: white;
}
.paragraph--type--story .media--type-image {
  max-width: 720px;
}

/*------------------------------------------------------------------------------
 * Styling of the Interactive paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--interactive-content {
  background: #222;
  color: white;
  padding: 1em;
}

/*------------------------------------------------------------------------------
 * Styling of the Separator paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--separator {
  position: relative;
}
.paragraph--type--separator::after {
  content: '';
  position: absolute;
  top: .75em;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
}

/* the label, e.g. "Separator: full" */
.paragraph--view-mode--preview .field--name-field-separator-size {
  position: relative;
  text-align: center;
  z-index: 2;
  width: 110px;
  margin: 0 auto;
  background: #fcfcfa;
}
.paragraph--view-mode--preview .field--name-field-separator-size::before {
  content: 'Separator: ';
}

/*------------------------------------------------------------------------------
 * Styling of the Photo Gallery paragraph type - 2 column layout
 *----------------------------------------------------------------------------*/
.paragraph--type--photo-gallery.paragraph--view-mode--two-columns .field__items {
  display: flex;
  flex-flow: row wrap;
}
.paragraph--type--photo-gallery.paragraph--view-mode--two-columns .field__items > .field__item {
  flex: 1 0 40%;
  margin: 0 1rem 1rem;
}

/*------------------------------------------------------------------------------
 * Styling of the Article Card List paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--article-card-list .field__items {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.paragraph--type--article-card-list .field__items > .field__item {
  flex: 0 0 calc((100% - 2rem) / 3);
  background: #eee;
  padding: 1rem 0;
}
.paragraph--type--article-card-list .field__items > .field__item > * {
  padding: 0 1rem;
}

/*------------------------------------------------------------------------------
 * Styling of the Achievement List paragraph type
 *----------------------------------------------------------------------------*/
.paragraph--type--achievement-list .field__items {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.paragraph--type--achievement-list .field__items > .field__item {
  flex: 0 0 calc((100% - 3rem) / 4);
  background: #eee;
  padding: 1rem 0;
}
.paragraph--type--achievement-list .field__items > .field__item > * {
  padding: 0 1rem;
}

/*------------------------------------------------------------------------------
 * Styling of the footnotes.
 *----------------------------------------------------------------------------*/
.gho-footnote {
  word-wrap: break-word;
}

/*------------------------------------------------------------------------------
 * Editorial indication for unpublished/untranslated entities.
 *----------------------------------------------------------------------------*/
.node--unpublished {
  background-color: unset;
}
.user-logged-in [class*='--unpublished'] {
  outline: 4px dashed  #ffc310;
}

.user-logged-in [class*='--untranslated'] {
  outline: 4px solid #fd7b1a;
}

.user-logged-in [class*='--unpublished'][class*='--untranslated'] {
  outline: 4px solid #c30;
}

/*------------------------------------------------------------------------------
 * Node preview dialogs.
 *----------------------------------------------------------------------------*/
 .ui-dialog.node-preview.ui-widget-content,
 .ui-dialog.node-preview .ui-widget-header {
  border: none;
}
.ui-dialog.node-preview .ui-dialog-content {
  border: 1px solid #6b6b6b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


@media print {
  body > *:not([role="dialog"]),
  body > .dialog-off-canvas-main-canvas {
    display: none !important;
  }
  body > [role="dialog"] {
    position: static !important;
    height: auto !important;
    width: auto !important;
    top: 0 !important;
    left: 0 !important;
  }
  iframe {
    display: block;
    border: 0;
    width: 100%;
    min-height: 500px
  }

  .ui-dialog-titlebar-close,

  #drupal-modal {
    border: none !important;
    overflow: unset !important;
  }
}