.entity-browser-modal .ui-widget-content {
  padding: 0 !important;
  border-radius: 0 0 var(--gin-border-m) var(--gin-border-m);
}
.entity-browser-modal .ui-widget-content > .ajax-progress-throbber {
  display: none;
}
.ui-dialog form.layout-paragraphs-component-form div[data-drupal-selector="edit-group-tabs"] {
  max-height: 65vh;
}
#entity-browser-articles-form > .view,
#entity-browser-article-form > .view {
  padding: var(--gin-spacing-l) var(--gin-spacing-l);
  margin-bottom: 1rem;
}
#entity-browser-articles-form > .form-actions,
#entity-browser-article-form > .form-actions {
  padding: 0 var(--gin-spacing-l);
  border-top: 1px solid var(--gin-border-color-layer);
  background: var(--gin-bg-app);
}
#entity-browser-articles-form .entities-list,
#entity-browser-article-form .entities-list {
  display: none;
}
#entity-browser-articles-form .view-content .gin-table-scroll-wrapper,
#entity-browser-article-form .view-content .gin-table-scroll-wrapper {
  margin: 0;
  padding: 0;
}

.field--widget-entity-reference-browser-table-widget-ncms {
  min-width: 80%;
}
.field--widget-entity-reference-browser-table-widget-ncms > details {
  border: 0;
  margin: 0;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > summary {
  display: none;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper {
  margin: 0;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper .layer-wrapper {
  margin-top: 0;
  padding: 1rem 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper .layer-wrapper .gin-table-scroll-wrapper {
  padding-bottom: 0;
  margin-bottom: 0;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper > .form-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 12;
  right: 12rem;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper > .form-wrapper > input.button {
  margin: var(--gin-spacing-s) 0;
}
table.table--widget-entity_reference_browser_table_widget th,
table.table--widget-entity_reference_browser_table_widget td {
  padding-left: var(--gin-spacing-m) !important;
  white-space: nowrap;
}
.table--widget-entity_reference_browser_table_widget--sortable th:first-child,
.table--widget-entity_reference_browser_table_widget--sortable td:first-child {
  padding: 0;
}
.field--widget-entity-reference-browser-table-widget-ncms table th.th__title {
  width: 100%;
}