.lpb-controls {
  right: 0;
  border-radius: 0;
  opacity: 0.5;
}
.lpb-btn--add {
  z-index: 91;
}
.lp-builder:not(.is-navigating) .js-lpb-component {
  outline: 1px solid var(--gin-color-focus-border);
}
.js-lpb-component-list > .js-lpb-component.paragraph {
  margin-bottom: 2rem;
}
form.node-form .js-lpb-component-list > .js-lpb-component.paragraph {
  padding: 3.5rem 1.5rem 1.5rem;
}
.lpb-dialog {
  max-height: 100vh;
}
.lpb-dialog .ui-dialog-content {
  height: auto !important;
  margin-bottom: 5rem;
  padding-bottom: 3.8rem;
}
.lpb-dialog .ui-dialog-content form {
  margin-top: 1rem;
}
.lpb-dialog .ui-dialog-buttonpane {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper > .form-wrapper {
  z-index: 10;
}
.lpb-dialog .ui-dialog-content form .horizontal-tabs-panes > details {
  padding-bottom: 1rem;
}