.gin--horizontal-toolbar #toolbar-item-administration-tray > nav,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li {
  background-color: rgb(5, 80, 230) !important;
}
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > a.toolbar-icon {
  color: white;
}
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > a.toolbar-icon::before {
  background-color: white;
}
.toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:before {
  mask-image: url(../assets/toolbar-logo.svg) !important;
  -webkit-mask-image: url(../assets/toolbar-logo.svg) !important;
  background-color: white !important;
  width: 28px;
}
