.gin--horizontal-toolbar .region-sticky {
  display: block;
}
.gin--horizontal-toolbar .region-sticky .region-sticky__items {
  width: auto;
}
.gin--horizontal-toolbar nav#toolbar-bar {
  width: auto;
}
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > .toolbar-box > .toolbar-handle:focus {
  background-color: rgb(5, 80, 230) !important;
}

.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > a.toolbar-icon,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > .toolbar-box > a.toolbar-icon {
  color: white;
}
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > a.toolbar-icon::before {
  background-color: white;
}
.toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:before {
  mask-image: url(../assets/toolbar-logo.svg) !important;
  -webkit-mask-image: url(../assets/toolbar-logo.svg) !important;
  background-color: white !important;
  width: 28px;
}

.toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-icon::before,
.toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-box > .toolbar-icon::before,
.toolbar .toolbar-bar .toolbar-menu-administration .level-2 .toolbar-handle:focus {
  background-color: white;
}

/* The secondary toolbar. */
.gin-secondary-toolbar .gin-breadcrumb-wrapper {
  display: none;
}
.gin--edit-form.path-node .gin-secondary-toolbar .gin-breadcrumb-wrapper,
.user-logged-in.path-media .gin-secondary-toolbar .gin-breadcrumb-wrapper {
  display: block;
}
.gin--edit-form.path-node .gin-secondary-toolbar .gin-breadcrumb-wrapper .gin-breadcrumb__list,
.user-logged-in.path-media .gin-secondary-toolbar .gin-breadcrumb-wrapper .gin-breadcrumb__list {
  width: fit-content;
  text-overflow: clip;
}
.gin--edit-form.path-node .gin-secondary-toolbar .gin-breadcrumb-wrapper li,
.user-logged-in.path-media .gin-secondary-toolbar .gin-breadcrumb-wrapper li {
  overflow: visible;
}
.gin--edit-form.path-node .gin-secondary-toolbar .gin-breadcrumb-wrapper li::before,
.user-logged-in.path-media .gin-secondary-toolbar .gin-breadcrumb-wrapper li::before {
  border-right: 0;
}
.gin-secondary-toolbar #toolbar-administration-secondary {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.gin-secondary-toolbar #toolbar-administration-secondary .form-item {
  margin: 0;
}
.gin-secondary-toolbar #toolbar-administration-secondary .form-item label {
  display: inline-block;
  margin-right: 0.5rem;
}
.gin-secondary-toolbar #toolbar-administration-secondary .form-item .form-element {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  min-height: auto;
}

table {
  background-color: white;
}

/* Improvements for the ui dialog (modal). */
.ui-dialog.lpb-dialog {
  width: auto !important;
}
.ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 1rem;
}
.ui-dialog .ui-dialog-buttonpane .form-actions {
  flex-direction: row-reverse;
  gap: var(--gin-spacing-xs);
}
.ui-dialog .ui-dialog-buttonpane .form-actions > button {
  margin: 0;
}

/* Improvements for the horizontal form tabs. */
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
  padding: var(--gin-spacing-m) !important;
}