.gin--horizontal-toolbar #toolbar-item-administration-tray > nav,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > .toolbar-box > .toolbar-handle:focus {
  background-color: rgb(5, 80, 230) !important;
}

.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > a.toolbar-icon,
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > .toolbar-box > a.toolbar-icon {
  color: white;
}
.gin--horizontal-toolbar #toolbar-item-administration-tray > nav > div > .toolbar-menu > li > a.toolbar-icon::before {
  background-color: white;
}
.toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:before {
  mask-image: url(../assets/toolbar-logo.svg) !important;
  -webkit-mask-image: url(../assets/toolbar-logo.svg) !important;
  background-color: white !important;
  width: 28px;
}

.toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-icon::before,
.toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-box > .toolbar-icon::before,
.toolbar .toolbar-bar .toolbar-menu-administration .level-2 .toolbar-handle:focus {
  background-color: white;
}

table {
  background-color: white;
}
table.sticky-header {
  width: auto;
}
