.gho-article-card {
  --gho-article-card-border-color: #ddd;
  --gho-article-card-padding: 1.5rem;
  height: 100%;
  border: 1px solid var(--gho-article-card-border-color);
}

/**
 * Have our card contents stretch to fill the flex item, and set its position
 * for the read-more link defined below.
 */
.gho-article-card__content {
  position: relative;
  height: 100%;
}

/* Hide the "scroll down" SVG.
 *
 * Since Cards are used extensively on homepage, and our Hero Image template
 * uses a conditional to show the SVG when `is_front` is true, we hide these
 * SVGs with display:none in order to also hide them from the a11y tree.
 *
 * @see html/themes/custom/common_design_subtheme/templates/fields/field--node--field-hero-image--article.html.twig
 */
.gho-article-card .gho-hero-image__scrolldown {
  display: none;
}

/* Image */
.gho-article-card .gho-hero-image {
  position: relative;
  margin-bottom: var(--gho-article-card-padding);
}
.gho-article-card img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:  0;

  border: 1px solid #ddd;
  background: var(--cd-grey--light);
}
.gho-article-card img::after {
  content: 'Broken image:  ' attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #888;
}

/* Section name */
.gho-article-card .gho-article__pre-title {
  margin: 1.25rem 0;
  padding: 0 var(--gho-article-card-padding);
  color: var(--cd-ocha-blue);
  font-size: var(--cd-font-size--tiny);
  font-weight: 700;
  text-transform: uppercase;
}

/* Article title */
.gho-article-card .gho-article-card__title {
  margin: 1.25rem 0 1.875rem;
  padding: 0 var(--gho-article-card-padding);
  color: var(--cd-black);
  font-size: var(--cd-font-size--base);
  font-weight: 700;
}

/* Text summary */
.gho-article-card__summary {
  margin: 1.875rem 0 2.25rem;
  padding: 0 var(--gho-article-card-padding);
  font-size: 1rem;
}

/**
 * We're using an invisible hyperlink that stretches over the top of each card
 * so that the entire surface is clickable/tappable.
 */
.gho-article-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
}
.gho-article-card__link:hover {
  color: transparent;
  outline: 3px solid var(--gho-article-card-border-color);
}
.gho-article-card__link:focus,
.gho-article-card__link:active {
  color: transparent;
  outline: 3px solid black;
}
