.cd-button:not(.login-link) {
  padding: 0.8rem 1.5rem;
  color: var(--cd-default-text-color) !important;
  background-color: var(--ha-primary-button-color);
  font-size: var(--cd-font-size--small);
}
.cd-button:not(.login-link):hover, .cd-button:not(.login-link):focus {
  background-color: var(--ha-primary-button-color-hover);
}

.cd-button.login-link {
  margin-top: 1rem;
}

body {
  color: var(--cd-grey--dark);
  font-family: roboto, helvetica, arial, sans-serif;
  font-size: var(--cd-font-size--base);
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html[lang=ar] body {
  font-family: "Noto Kufi Arabic", roboto, sans-serif;
}

picture img {
  display: block;
}

:root {
  --content-width: 904px;
  --reading-width: 720px;
  --ha-primary-button-color: #fed83d;
  --ha-primary-button-color-hover: #feba00;
  --cd-font-size--medium-large: 1.5rem; /* 24px */
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--cd-grey--dark);
}

h1 {
  color: #000;
  font-family: Roboto, sans-serif;
}

.page-title {
  color: var(--cd-default-text-color);
  border-bottom: 1px solid var(--cd-blue-grey);
  font-weight: 900; /* 900 weight does indeed exist via google fonts */
}

a {
  color: var(--cd-default-text-color);
}
a:hover, a:focus {
  color: var(--cd-default-text-color);
}

/* ------------------------------------------------------------------------------
 * Editorial indication for unpublished/untranslated entities.
 *---------------------------------------------------------------------------- */
.user-logged-in [class*="--unpublished"] {
  outline: 4px dashed #ffc310;
}

.user-logged-in [class*="--untranslated"] {
  outline: 4px solid #fd7b1a;
}

.user-logged-in [class*="--unpublished"][class*="--untranslated"] {
  outline: 4px solid #c30;
}

.form--inline .form-item {
  float: left;
  margin-top: 0;
  margin-right: 0.5em;
}

.form--inline .form-actions {
  float: left;
  margin-top: 0;
}

.page-title {
  margin-top: 0;
  border-bottom: 0;
}

.page-title ~ .tabs {
  margin-bottom: 1rem;
}

@media print {
  .cd-layout-container,
  .cd-layout-container .cd-layout-content-wrapper {
    position: relative;
    display: block;
  }
  article.gho-article {
    position: relative;
    display: block;
    zoom: 0.65;
  }
  div.paragraph.gho-text p {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  div.paragraph p.highlight {
    page-break-after: avoid;
  }
  div.paragraph .gho-caption__text {
    line-height: 0.95rem;
  }
}
