{%
  set classes = [
    'field--name-field-caption',
    'caption',
  ]
%}
<p{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
{#
  No closing </p> tag, you say? What amateur built this site?

  @see field--paragraph--field-credit.html.twig
#}
