{%
  set classes = [
    'field--name-field-credits',
    'credits',
  ]
%}
  <span{{ attributes.addClass(classes) }}>
    {%- for item in items -%}
      {{ item.content }}
    {%- endfor -%}
  </span>

{#
  Yes, yes I know. This is straight out of 2004 spaghetti playbook. But having
  the two fields both be inline means we can't easily merge them together while
  also restricting the overall width of the caption to match the reading-width
  of the text fields on the site.

  Open to ideas but this was the first one I had that worked. Open <p> is in the
  following template:

  @see field--paragraph--field-location.html.twig
#}
</p>
