{#
/**
 * @file
 * Theme override for a Hero Image field on an Article.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('common_design_subtheme/gho-hero-image') }}
<div class="gho-hero-image">
{% for item in items %}
  {{ item.content }}
{% endfor %}
{% if is_front %}
  <div class="gho-hero-image__scrolldown">
    <svg viewBox="0 0 23 22" width="23" height="22" xmlns="http://www.w3.org/2000/svg" fill="#fff" aria-hidden="true" focusable="false">
      <path d="M6.991 0A6.99 6.99 0 000 6.991v7.989a6.99 6.99 0 006.991 6.991 6.99 6.99 0 006.991-6.991V6.991A6.99 6.99 0 006.991 0m5.326 14.98c0 2.93-2.397 5.327-5.326 5.327-2.93 0-5.327-2.397-5.327-5.327V6.991c0-2.93 2.397-5.327 5.327-5.327 2.929 0 5.326 2.397 5.326 5.327v7.989z"/>
      <path d="M6.991 4.461a.824.824 0 00-.832.832v2.431c0 .466.366.832.832.832a.824.824 0 00.832-.832V5.293a.846.846 0 00-.832-.832M21.305 14.945l-1.132 1.132V4.659c0-.266-.233-.5-.499-.5s-.5.234-.5.5V16.11l-1.131-1.131c-.2-.2-.5-.2-.699 0a.48.48 0 000 .699l1.997 1.997c.033.033.1.1.166.1a.366.366 0 00.167.033c.033 0 .133 0 .166-.033.067-.033.1-.067.167-.1l1.997-1.997c.2-.2.2-.5 0-.699-.2-.2-.5-.2-.699-.034"/>
    </svg>
    <p>{{ 'Scroll down to explore'|t }}</p>
  </div>
{% endif %}
</div>
