{%
  set classes = [
    'field--name-field-credits',
    'gho-caption__credits',
  ]
%}
{% spaceless %}
<span{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</span>
{% endspaceless %}
