{%
  set classes = [
    'field--name-field-location',
    'gho-caption__location',
  ]
%}
<p{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</p>
