/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

 .layout--fourcol--interactive-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layout--fourcol--interactive-content > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
  .layout--fourcol--interactive-content {
    gap: 1rem;
  }

  .layout--fourcol--interactive-content.layout--fourcol--interactive-content--25-25-25-25 > .layout__region {
    flex: 0 1 50%;
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 1024px) {
  .layout--fourcol--interactive-content {
    gap: 1rem;
  }

  .layout--fourcol--interactive-content.layout--fourcol--interactive-content--25-25-25-25 > .layout__region {
    flex: 0 1 25%;
    flex-basis: calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}
