.gho-needs-and-requirements-figure {
  padding: 2rem 0;
  border-style: solid;
  border-color: #d8d8d8;
  border-width: 1px 0 0 0;
}
/* hide border-top when NaR immediately follows a Hero image caption */
.gho-caption--article + .paragraph--type--needs-and-requirements .gho-needs-and-requirements-figure:first-child {
  border-top: 0;
}
.gho-needs-and-requirements-figure:last-child {
  padding-bottom: 0;
}
.gho-needs-and-requirements-figure__label {
  font-size: 1rem;
  font-weight: bold;
}
.gho-needs-and-requirements-figure__label small {
  font-size: inherit;
  font-weight: normal;
}
.gho-needs-and-requirements-figure__value {
  color: #5391cb;
  font-size: 1.625rem;
  font-weight: bold;
}


@media (min-width: 768px) {
  .gho-needs-and-requirements {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /* hide border-top when NaR immediately follows a Hero image caption */
  .gho-caption--article + .paragraph--type--needs-and-requirements .gho-needs-and-requirements {
    border-top: 0;
  }
  .gho-needs-and-requirements-figure {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.33%;
    border-width: 0 0 0 1px;
    padding: 0 1.5rem;
  }
  [dir="ltr"] .gho-needs-and-requirements-figure:first-child {
    border-width: 0;
    padding-left: 0;
  }
  [dir="rtl"] .gho-needs-and-requirements-figure:first-child {
    border-width: 0 0 0 1px;
    padding-right: 0;
  }
  [dir="rtl"] .gho-needs-and-requirements-figure:last-child {
    border-width: 0;
  }
  .gho-needs-and-requirements-figure__label {
    font-size: 1.125rem;
  }
  .gho-needs-and-requirements-figure__value {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .gho-needs-and-requirements-figure__value {
    font-size: 2.25rem;
  }
}
