//——————————————————————————————————————————————————————————————————————————————
// Common Design: Footer
//——————————————————————————————————————————————————————————————————————————————

.cd-footer {
  color: $implementation-highlight;
  background: #f1f1f1;
  font-family: $cd-font;

  html[lang='ar'] & {
    font-family: $gho-font--arabic;
  }

  a {
    color: inherit;

    &:focus {
      color: inherit;
      outline: 3px solid $implementation-highlight;
    }
  }
}


//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//——————————————————————————————————————————————————————————————————————————————
[dir='rtl'] .cd-footer__section--menu {
  @include desktop {
    text-align: right;
    float: right; // IE11 needs this
    width: 70%;
  }
}
