//——————————————————————————————————————————————————————————————————————————————
// Common Design: OCHA mandate
//——————————————————————————————————————————————————————————————————————————————

.cd-mandate__logo {
  background: url("../img/logos/ocha-lockup.svg") 0 center no-repeat;

  @include desktop {
    border-right: 1px solid $implementation-highlight;
  }
}

//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//——————————————————————————————————————————————————————————————————————————————
[dir="rtl"] .cd-footer__section--mandate {
  @include desktop {
    float: right; // IE11
  }
}

[dir="rtl"] .cd-footer__section--copyright {
  @include desktop {
    float: left; // IE11
  }
}

[dir="rtl"] .cd-mandate__heading {
  @include desktop {
    text-align: right;
  }
}

[dir="rtl"] .cd-mandate__logo {
  $logo-vert-offset: 4px;

  @include desktop {
    float: right;
    margin: -calc($logo-vert-offset / 2) auto 0 $cd-container-padding;
    padding-right: 0; // unsetting original
    padding-bottom: $logo-vert-offset;
    padding-left: $cd-container-padding;
    border-right: 0; // unsetting original
    border-left: 1px solid $cd-black;
    background-position: 12px calc($logo-vert-offset / 2);
  }
}

[dir="rtl"] .cd-mandate__text {
  @include desktop {
    padding: 0;
    padding-right: 173px; // Width of logo.
    padding-left: $cd-container-padding-xlarge;
    text-align: right;
  }
}
