//——————————————————————————————————————————————————————————————————————————————
// Common Design: Soft Footer
//
// Optional space for a CTA, newsletter sign-up, etc
//——————————————————————————————————————————————————————————————————————————————

.cd-soft-footer {
  color: $cd-black;
  background: $cd-white;
  border-top: 1px solid $implementation-primary;

  a {
    &:focus {
      outline: 3px solid $implementation-primary;
    }
  }
}

.cd-soft-footer__button {
  background: $implementation-primary;

  &:hover,
  &:focus {
    background: darken($implementation-primary, 5%);
  }
}

.cd-soft-footer .block-soft-footer-fts {
  img {
    // original dimensions: 438x200
    width: 200px;
    height: 91px;
  }
}
