//——————————————————————————————————————————————————————————————————————————————
// Common Design: Footer
//——————————————————————————————————————————————————————————————————————————————

.cd-footer {
  color: $implementation-secondary;
  background: $implementation-primary;
  font-family: $cd-font;

  a {
    color: $implementation-secondary;

    &:focus {
      outline: 3px solid $implementation-highlight;
    }
  }
}


//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//——————————————————————————————————————————————————————————————————————————————
[dir='rtl'] .cd-footer__section--menu {
  @include desktop {
    text-align: right;
    float: right; // IE11 needs this
    width: 70%;
  }
}
