//——————————————————————————————————————————————————————————————————————————————
// Common Design: Footer
//——————————————————————————————————————————————————————————————————————————————

.cd-footer {
  color: $implementation-highlight;
  background: #f1f1f1;
  font-family: $cd-font;
  font-weight: 400;

  html[lang="ar"] & {
    font-family: $gho-font--arabic;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }

    &:focus {
      outline: 3px solid $implementation-highlight;
    }
  }
}

//——————————————————————————————————————————————————————————————————————————————
// GHO-4: RTL adjustments
//
// These need to be sent upstream once we're all happy with them.
//——————————————————————————————————————————————————————————————————————————————
[dir="rtl"] .cd-footer__section--menu {
  @include desktop {
    float: right; // IE11 needs this
    width: 70%;
    text-align: right;
  }
}
