.gho-achievement {
  background: #eee;
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem 2rem;
  height: 100%;
  position: relative;
}

.gho-achievement__icon {
  order: -1;
  height: 3rem;
}

.gho-achievement__icon img {
  width: auto;
  height: 100%;
}

.gho-achievement__title {
  font-size: var(--cd-font-size--base);
  color: black;
}

.gho-achievement__summary {
  font-size: var(--cd-font-size--small);

  /* Since we changed the flex order, margin collapse doesn't occur between this
  element and the previous Title element. Remove margin manually */
  margin-top: 0;

  /* Since we absolutely position the sources to line them up, apply some extra
  padding to the summaries so that the longest summary still has a nice-looking
  gap between the summary and the source. */
  margin-bottom: 2.5rem;
}

.gho-achievement__source {
  font-size: var(--cd-font-size--tiny);
  position: absolute;
  bottom: 2rem;
}
