{#
/**
 * @file
 * Default theme implementation for a GHO further reading link formatter.
 *
 * Available variables:
 * - title: Link title
 * - url: Link url
 * - source: Link author/source
 *
 * @ingroup themeable
 */
#}
{% set link = link(title, url, {'rel': 'nofollow'})|render %}
<div class="gho-further-reading-link">
  {{ link }}
  {% if source %}
  <p><span class="visually-hidden">{{ 'Source: '|t}}</span>{{ source }}</p>
  {% endif %}
</div>
