{#
/**
 * @file
 * Default theme implementation for a GHO datawrapper formatter.
 *
 * Available variables:
 * - attributes: Iframe attributes.
 *
 * @ingroup themeable
 */
#}
{% if provider == 'datawrapper' %}
  {{ attach_library('gho_fields/datawrapper-responsive-iframe') }}
{% endif %}

<div class="gho-{{ provider }}">
<iframe{{ attributes
  .addClass('gho-' ~ provider ~ '-iframe')
  .setAttribute('scrolling', 'no')
  .setAttribute('frameborder', '0')
  .setAttribute('style', 'width: 0; min-width: 100% !important; border: none;')
}}></iframe>
</div>
