{#
/**
 * @file
 * Default theme implementation for a GHO figures formatter - large format.
 *
 * Available variables:
 * - figures: list of figures with a label, a value and an optional footnote.
 * - format: format of the figures: large or small
 * - attributes: attributes for the wrapper.
 *
 * @ingroup themeable
 */
#}
{% if figures %}
<div{{ attributes.addClass(['gho-figures', 'gho-figures--large']) }}>
{% for figure in figures %}
  <div class="gho-figure">
    <div class="gho-figure__label">{{ figure.label }}</div>
    <div class="gho-figure__value" data-footnote="{{ figure.footnote }}">{{ figure.value }}</div>
  </div>
{% endfor %}
</div>
{% endif %}
