/**
 * List styles
 */
.gho-related-articles {

}

/**
 * Individual Article
 */
.gho-related-article {
  max-width: 960px;
  padding: 1rem 0;
  position: relative; /* title will be positioned absolutely */
}

/**
 * Lists of related articles have separators
 */
.gho-related-article + .gho-related-article {
  border-top: 1px solid #ccc;
}

/**
 * Title
 */
.gho-related-article__title {
  font-size: 1.125em;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .gho-related-article__title {
    position: absolute;
    margin-top: 0;
  }
  [dir='ltr'] .gho-related-article__title {
    left: calc(40% + 1rem);
  }
  [dir='rtl'] .gho-related-article__title {
    right: calc(40% + 1rem);
  }
}
.gho-related-article__title a {
  color: black;
  text-decoration: none;
}

/**
 * Thumbnail image
 */
@media screen and (min-width: 768px) {
  .gho-related-article .field--name-field-thumbnail-image {
    width: calc(40% - 1rem);
    margin-bottom: 2rem;
  }
  [dir='ltr'] .gho-related-article .field--name-field-thumbnail-image {
    float: left;
    margin-right: 1rem;
  }
  [dir='rtl'] .gho-related-article .field--name-field-thumbnail-image {
    float: right;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 960px) {
  .gho-related-article .field--name-field-thumbnail-image {
    height: 226px;
    width: calc(40% - 1rem);
    margin-bottom: 0;
  }
  [dir='ltr'] .gho-related-article .field--name-field-thumbnail-image {
    float: left;
  }
  [dir='rtl'] .gho-related-article .field--name-field-thumbnail-image {
    float: right;
  }
}

/**
 * Summary
 */
@media screen and (min-width: 768px) {
  .gho-related-article .field--name-field-summary {
    float: left;
    width: 60%;
    padding: 32px 1rem 0;
  }
  .gho-related-article .field--name-field-summary p {
    margin: 0;
  }
}

/**
 * Link to read article
 */
.gho-related-article .read-article {
  padding: 1rem 0;
  color: #000;
  font-weight: 700;
}
.gho-related-article .read-article::after {
  content: '\00a0›';
  display: inline-block;
  color: #699fd3;
}
@media screen and (min-width: 768px) {
  .gho-related-article .read-article {
    width: 60%;
    padding: 1rem;
  }

  [dir='ltr'] .gho-related-article .read-article {
    float: left;
  }

  [dir='rtl'] .gho-related-article .read-article {
    float: right;
  }
}
