//——————————————————————————————————————————————————————————————————————————————
// Base styles
//——————————————————————————————————————————————————————————————————————————————
body {
  color: $cd-grey--dark;
  font-family: $cd-font;
  font-size: $cd-font-size--base;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html[lang="ar"] body {
  font-family: $gho-font--arabic;
}

// Avoid extra space at the bottom of the image.
picture img {
  display: block;
}

// Maximum width on full screen for texts, photo galleries etc.
:root {
  --content-width: 904px;
  --reading-width: 720px;
}
