//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  color: $cd-ocha-blue;
}

h1 {
  color: #000;
  font-family: Roboto, sans-serif;
}

.page-title {
  color: $cd-default-text-color;
  border-bottom: 1px solid $cd-blue-grey;
  font-weight: 900; /* 900 weight does indeed exist via google fonts */
}

a {
  color: $gho-link-color;

  &:hover,
  &:focus {
    color: $gho-link-color;
  }
}
