.gho-article {
  position: relative;
  /* Flex-box so we can hoist our social icons up form their low position in the
     source-order but display them near the top of the Sub-Article */
  display: flex;
  flex-direction: column;
  /* Make sure the image is attached to the bottom of the header. */
  margin-top: -2rem;
}
.gho-article > * {
  flex: 0 0 auto;
}
@media (min-width: 768px) {
  .gho-article {
    margin-top: -3rem;
  }
}

.gho-article__header {
  position: relative;
  z-index: 0;
  /* This is to be able to display the social links between the header and the
   * the content on small screens. */
  order: 0;
}
.gho-article__heading {
  padding-top: 2rem;
  margin-bottom: 3rem;
}
/* Take into account the 8px grey margins: 1040px + 2 * 8x. */
@media (min-width: 1056px) {
  .gho-article--hero .gho-article__heading {
    position: relative;
    margin-top: -190px;
    z-index: 1;
  }
  .gho-article--hero .gho-article__heading::before {
    content: "";
    position: absolute;
    top: 0;
    /* (1040px - 904px - 24px * 2) / 2 */
    left: -44px;
    width: 1040px;
    height: 190px;
    background: #fff;
    z-index: -1;
  }
}

.gho-article__pre-title {
  margin-bottom: 1rem;
  color: #707070;
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .gho-article__pre-title {
    margin-bottom: 1.25rem;
  }
}
.gho-article .page-title {
  display: inline; /* appeals want to sit next to title */
  padding: 0;
  margin: 0;
  border: none;
  font-size: 2.25rem;
  line-height: 2.375rem;
  color: #1f1f1f;
}
@media (min-width: 768px) {
  .gho-article .page-title {
    font-size: 2.875rem;
    line-height: 3.125rem;
  }
}
@media (min-width: 1024px) {
  .gho-article .page-title {
    font-size: 3.25rem;
    line-height: 3.375rem;
  }
}

.gho-article__content {
  /* This is to be able to display the social links between the header and the
   * the content on small screens. */
  order: 2;
}

/**
 * Social links.
 */
.gho-article__social-links {
  /* This is to be able to display the social links between the header and the
   * the content on small screens. */
  order: 1;
  margin: -2rem 0 3rem;
}
@media (min-width: 576px) {
  .gho-article__social-links {
    position: absolute;
    top: 0;
    padding-top: 2rem;
    margin: 0;
  }
  .gho-article--hero .gho-article__social-links {
    padding-top: calc(50% + 2rem);
  }
}
/* Take into account the 8px grey margins: 1040px + 2 * 8x. */
@media (min-width: 1056px) {
  .gho-article--hero .gho-article__social-links {
    padding-top: calc(50% - 190px + 2rem);
  }
}
