/* Make sure the image is attached to the botton of the header. */
.gho-article {
  margin-top: -2rem;
}
@media (min-width: 768px) {
  .gho-article {
    margin-top: -3rem;
  }
}

.gho-article__header {
  position: relative;
}
.gho-article__heading {
  padding: 2rem 0 0 0;
}
@media (min-width: 1200px) {
  .gho-article--with-hero-image .gho-article__heading {
    position: absolute;
    bottom: 0;
    left: -2rem;
    right: -2rem;
    padding: 1rem 2rem;
    background: white;
  }
}

.gho-article__pre-title {
  max-width: 480px;
  margin-bottom: 0.5rem;
  color: #6d6d6d;
}
.gho-article .page-title {
  max-width: 480px;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 2.625rem;
  color: black;
}
@media (min-width: 768px) {
  .gho-article .page-title {
    font-size: 3.25rem;
  }
}

.gho-article .gho-article__local_tasks {
  margin-top: 2rem;
}

/* @todo Move that in a `gho-caption` component? */
/* Bonus: the styles below apply to the sub-articles as well. */
.gho-article .gho-caption {
  max-width: var(--reading-width);
  /* @todo adjust margin-top after reviewing title's margins. */
  margin: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #6d6d6d;
}
.gho-article .gho-caption__location {
  margin-bottom: 0;
  font-weight: bold;
}
.gho-article .gho-caption__caption {
  margin-top: 0;
}
.gho-article .gho-caption__credits {
  font-style: italic;
}
