.gho-top-figures .gho-figures {
  padding-bottom: 2rem;
}
.gho-top-figures .gho-figures--large {
  border-bottom: 1px solid #d8d8d8;
}
.gho-top-figures:not(.gho-top-figures--small) .gho-figures .gho-figure {
  padding: 2rem 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #d8d8d8;
}
/* hide border-top when top figures immediately follows a Hero image caption */
.gho-caption--article + .gho-top-figures .gho-figures .gho-figure:first-child {
  border-top: 0;
}
.gho-top-figures .gho-figures .gho-figure:last-child {
  padding-bottom: 0;
}
.gho-top-figures .gho-figure__label {
  font-size: 1rem;
  font-weight: bold;
}
.gho-top-figures .gho-figure__label small {
  font-size: inherit;
  font-weight: normal;
}
.gho-top-figures .gho-figure__value {
  color: inherit;
  font-size: 1.625rem;
  font-weight: bold;
}
/* Add support for emphasis colors. */
.gho-top-figures .gho-figures--large .gho-figure__value,
.gho-top-figures .gho-figure--normal .gho-figure__value {
  color: inherit;
}
.gho-top-figures .gho-figure--needs-related .gho-figure__value {
  color: #0074b7;
}
.gho-top-figures .gho-figure--emphasized .gho-figure__value {
  color: #eb1d48;
}

@media (min-width: 576px) {
  .gho-top-figures .gho-figures--large {
    border-bottom: 0;
  }
  .gho-top-figures .gho-figures--large::before,
  .gho-top-figures .gho-figures--large::after {
    display: block;
    flex: unset;
    width: 100%;
    margin-left: 1.5rem;
    content: "";
    border-top: 1px solid #d8d8d8;
    border-bottom: 0;
  }
  .gho-top-figures .gho-figures--large::after {
    border-top: 0;
    border-bottom: 1px solid #d8d8d8;
  }
  .gho-top-figures .gho-figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1.5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* hide border-top when top figures immediately follows a Hero image caption */
  .gho-caption--article + .gho-top-figures .gho-figures,
  .gho-caption--article + .gho-top-figures .gho-figures::before {
    border-top: 0;
  }
  .gho-top-figures:not(.gho-top-figures--small) .gho-figures .gho-figure {
    display: inline-block;
    flex-grow: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    border-width: 0 0 0 1px;
  }
  [dir="ltr"]
    .gho-top-figures:not(.gho-top-figures--small)
    .gho-figures
    .gho-figure:first-child {
    border-width: 0;
  }
  [dir="ltr"]
    .gho-top-figures:not(.gho-top-figures--small)
    .gho-figures
    .gho-figure:last-child {
    padding-right: 0;
  }
  [dir="rtl"]
    .gho-top-figures:not(.gho-top-figures--small)
    .gho-figures
    .gho-figure:first-child {
    padding-right: 0;
  }
  [dir="rtl"]
    .gho-top-figures:not(.gho-top-figures--small)
    .gho-figures
    .gho-figure:last-child {
    padding-left: 0;
    border-width: 0;
  }
  .gho-top-figures .gho-figure__label {
    font-size: 1.125rem;
  }
  .gho-top-figures .gho-figure__value {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .gho-top-figures .gho-figure__value {
    font-size: 2.25rem;
  }
}
