.gho-section-index {
  margin-top: 6.25rem;
  padding-top: 2.25rem;
  border-top: 1px solid #d8d8d8;
}
.gho-section-index + .gho-section-index {
  /* This is to be closer to what is in the design documents as none of the
   * specs documents contain indication of what should be the spacing between
   * section areas. This corresponds to the section index margin-top (6.25rem) +
   * the padding of the related articles (2rem). */
  margin-top: 8.25rem;
  padding-top: 0;
  border-top: none;
}
/* This is similar to the sub-article styling */
.gho-section-index__header {
  margin-bottom: 1rem;
}
.gho-section-index__pre-title {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 0.6rem;
  letter-spacing: 0.05rem;
  color: #707070;
}
.gho-section-index__title {
  margin: 0;
  padding: 0;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #1f1f1f;
}
@media (min-width: 768px) {
  .gho-section-index__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .gho-section-index__title {
    font-size: 2.5rem;
    line-height: 2.625rem;
  }
}
.gho-section-index__description {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  .gho-section-index__description {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
.gho-section-index__description p:first-child {
  margin-top: 0;
}
.gho-section-index__description p:last-child {
  margin-bottom: 0;
}
.gho-section-index .gho-related-articles {
  margin-top: 2.25rem;
  padding-top: 0;
}
/* Extra content. */
.gho-section-index .paragraph {
  max-width: none;
  margin-top: 2.25rem;
}
.gho-section-index .gho-photo-gallery--single-column .gho-photo-gallery__photos {
  max-width: none;
}
