.gho-section-index {
  margin-top: 6.25rem;
}
.gho-section-index + .gho-section-index {
  margin-top: 9rem;
}
.gho-section-index:last-of-type {
  margin-bottom: 7rem; /* 9rem - 2rem from the padding bottom of the main... */
}

/* This is similar to the sub-article styling */
.gho-section-index__header {
  position: relative;
  margin-bottom: 1rem;
}
.gho-section-index__heading {
  position: absolute;
  max-width: var(--reading-width);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.gho-section-index__pre-title {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 0.675rem;
  font-weight: 700;
  line-height: 0.675rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
}
.gho-section-index__title {
  margin: 0;
  padding: 0;
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 1.75rem;
  color: #fff;
}
@media (min-width: 576px) {
  .gho-section-index__title {
    font-size: 2.5rem;
    line-height: 2.65rem;
  }
}
@media (min-width: 1024px) {
  .gho-section-index__pre-title {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
  .gho-section-index__title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}

.gho-section-index__caption {
  text-align: center;
  margin-top: 2.25rem;
  padding-bottom: 2.25rem;
  border-bottom: 1px solid #d8d8d8;
}
.gho-section-index__caption > .gho-caption > * {
  max-width: none;
}


.gho-section-index__description {
  margin-top: 4.5rem;
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  .gho-section-index__description {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .gho-section-index__description {
    font-size: 1.3125rem;
    line-height: 2.25rem;
  }
}
.gho-section-index__description p:first-child {
  margin-top: 0;
}
.gho-section-index__description p:last-child {
  margin-bottom: 0;
}

