<div{{ attributes.addClass(['gho-caption', 'content-width']) }}>
  <p class="gho-caption__location">{{ location }}</p>
  {% spaceless %}
  <p class="gho-caption__text">
    {{ caption }}
    {% if credits %}
      <span class="gho-caption__credits">{{ credits }}</span>
    {% endif %}
  </p>
  {% endspaceless %}
</div>
