{#
/**
 * @file
 * Default theme implementation for a GHO figures formatter - large format.
 *
 * Available variables:
 * - figures: list of figures with a label and a value.
 * - format: format of the figures: large or small
 * - attributes: attributes for the wrapper.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'gho-needs-and-requirements',
    'gho-figures',
    'gho-figures--large',
  ]
%}
{% if figures %}
<div{{ attributes.addClass(classes) }}>
{% for figure in figures %}
  <div class="gho-needs-and-requirements-figure gho-figure">
    <div class="gho-needs-and-requirements-figure__label gho-figure__label">{{ figure.label }}</div>
    <div class="gho-needs-and-requirements-figure__value gho-figure__value">{{ figure.value }}</div>
  </div>
{% endfor %}
</div>
{% endif %}
