/**
 * Base Author field
 */
.gho-author {
  display: block;
  margin: 1em 0;
  max-width: 580px;
}

[dir='rtl'] .gho-author {
  float: right;
  text-align: right;
}

.gho-author .media picture {
  max-width: 100px;
  max-height: 100px;
}

[dir='ltr'] .gho-author .media picture {
  float: left;
  margin-right: 1em;
}
[dir='rtl'] .gho-author .media picture {
  float: right;
  margin-left: 1em;
}

.gho-author .media img {
  border-radius: 50%;
}

.gho-author .field--name-name {
  padding-top: 1em;
  font-weight: 700;
}
