/**
 * Base Author field
 */
.gho-author {
  margin-top: 2rem;/* same as pseudo's padding-bottom */
}
/* The border is not on the container itself due to potential left/right padding
 * values that can interfere. Ex: when it has the `content-width` class. */
.gho-author::after {
  content: "";
  display: block;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d8d8d8;
}
.gho-author .media {
  display: flex;
  align-items: center;
  max-width: 580px;
  color: #1f1f1f;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.gho-author__image {
  width: 60px;
  height: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
}
.gho-author__image img {
  border-radius: 50%;
}

[dir='ltr'] .gho-author__content {
  margin-left: 1.5rem;
}
[dir='rtl'] .gho-author__content {
  margin-right: 1.5rem;
}

.gho-author__content .field--name-name {
  font-weight: 700;
}
