/**
 * Base field.
 */
.gho-bottom-figure-row {
  margin-top: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
/* The border is not on the container itself due to eventual left/right padding
 * values that can interfere. Ex: when it has the `content-width` class. */
.gho-bottom-figure-row::before {
  display: block;
  padding-bottom: 2rem;
  content: "";
  border-top: 1px solid #d8d8d8;
}
/* Hide the border when the figures follow a NaR paragraph. */
.gho-needs-and-requirements-paragraph + .gho-bottom-figure-row::before {
  content: none;
}

.gho-bottom-figure-row .gho-figures {
  display: flex;
  overflow-x: hidden;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: flex-start;
  /* Compensate for the margins of the figure items. */
  margin: -1rem 0 0 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d8d8d8;
}

.gho-bottom-figure-row .gho-figure {
  flex: 0 1 auto;
  min-width: 140px;
  margin: 1rem 0 0 0;
}
[dir="ltr"] .gho-bottom-figure-row .gho-figure {
  margin-right: 0;
  /* The left margin combined with the overflow-x: hidden of the parent
   * ensures the left border and padding are hidden for the first item of each
   * row. */
  margin-left: calc(-1rem - 1px);
  padding: 0 2rem 0 1rem;
  border-right: none;
  border-left: 1px solid #d8d8d8;
}
[dir="rtl"] .gho-bottom-figure-row .gho-figure {
  margin-right: calc(-1rem - 1px);
  /* The right margin combined with the overflow-x: hidden of the parent
   * ensures the right border and padding are hidden for the first item of each
   * row. */
  margin-left: 0;
  padding: 0 1rem 0 2rem;
  border-right: 1px solid #d8d8d8;
  border-left: none;
}

.gho-bottom-figure-row .gho-figure__label,
.gho-bottom-figure-row .gho-figure__value {
  display: block;
}
.gho-bottom-figure-row .gho-figure__label {
  font-weight: 700;
}

.gho-bottom-figure-row__source {
  margin-top: 1rem;
}
