/**
 * Base field.
 */
.gho-bottom-figure-row {
  /* Same margins as the aside components for consistency. */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.gho-bottom-figure-row .field__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  overflow-x: hidden;
}

.gho-bottom-figure-row .field__items > .field__item {
  flex: 0 1 auto;
  min-width: 140px;
  margin: 1rem 0;
}
[dir='ltr'] .gho-bottom-figure-row .field__items > .field__item {
  /* The left margin combined with the overflow-x: hidden of the parent
   * ensures the left border and padding are hidden for the first item of each
   * row. */
  margin-left: calc(-1rem - 1px);
  padding: 0 2rem 0 1rem;
  border-left: 1px solid #ddd;
}
[dir='rtl'] .gho-bottom-figure-row .field__items > .field__item {
  /* The right margin combined with the overflow-x: hidden of the parent
   * ensures the right border and padding are hidden for the first item of each
   * row. */
  margin-right: calc(-1rem - 1px);
  padding: 0 1rem 0 2rem;
  border-right: 1px solid #ddd;
}

@media screen and (min-width: 768px) {
  [dir='ltr'] .gho-bottom-figure-row .field__items > .field__item:first-child {
    border-left: 0;
  }
  [dir='rtl'] .gho-bottom-figure-row .field__items > .field__item:first-child {
    border-right: 0;
  }
}

.gho-bottom-figure-row .double-field-first,
.gho-bottom-figure-row .double-field-second {
  display: block;
}

.gho-bottom-figure-row .double-field-first {
  font-weight: 700;
}

.gho-bottom-figure-row .gho-dataset-link {
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}
