/**
 * Base field
 */
.gho-bottom-figure-row .field__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  overflow-x: hidden;
}

.gho-bottom-figure-row .field__items > .field__item {
  flex: 0 1 auto;
  min-width: 140px;
  /* The left margin combined with the overflow-x: hidden of the parent
   * ensures the border is hidden for the first item of each row. */
  margin: 1em 0 1em -1px;
  padding: 0 2em 0 1em;
  border-left: 1px solid #ddd;
}

.gho-bottom-figure-row .double-field-first,
.gho-bottom-figure-row .double-field-second {
  display: block;
}

.gho-bottom-figure-row .double-field-first {
  font-weight: 700;
}
