.lpb-controls,
.lpb-controls.is-layout {
  right: 0;
  left: 0;
  border-radius: 0;
  opacity: 1;

}
.lpb-controls.is-layout {
  background-color: var(--gin-color-focus-border) !important;
  outline: 1px solid var(--gin-color-focus-border);
}
.lpb-btn--add {
  z-index: 91;
}
.lp-builder {
  position: relative;
  top: 2rem;
}
.lp-builder:not(.is-navigating) .js-lpb-component,
.lp-builder.is-layout .js-lpb-component {
  outline: 1px solid var(--gin-color-focus-border);
}
.js-lpb-component-list > .js-lpb-component.paragraph {
  margin-bottom: 2rem;
}
form.node-form .js-lpb-component-list > .js-lpb-component.paragraph {
  padding: 3.5rem 1.5rem 1.5rem;
}
.lpb-dialog {
  max-width: 70vw;
  max-height: 100vh;
  min-width: auto !important;
}
.lpb-dialog .ui-dialog-content {
  height: auto !important;
  max-width: 70vw !important;
  max-height: 70vh !important;
  margin-bottom: 5rem;
  padding-bottom: 3.8rem;
}
.lpb-dialog .ui-dialog-content form {
  margin-top: 1rem;
}
.lpb-dialog .lpb-component-list {
  margin-bottom: -1rem;
}
.lpb-dialog .lpb-component-list .lpb-component-list__group {
  margin-top: var(--gin-spacing-l);
  margin-bottom: -1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gin-color-focus-border);
}
.lpb-dialog .lpb-component-list .lpb-component-list__group--content {
  flex-direction: row;
  gap: 1rem;
}
.lpb-dialog .lpb-component-list .lpb-component-list__item {
  width: fit-content;
  width: calc(33% - 1rem);
}
.lpb-dialog .ui-dialog-buttonpane {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.field--widget-entity-reference-browser-table-widget-ncms > details > .details-wrapper > .form-wrapper {
  z-index: 10;
}
.lpb-dialog .ui-dialog-content form .horizontal-tabs-panes > details {
  padding-bottom: 1rem;
}