.gho-separator {
  margin: 2rem 0;
}
.gho-separator__content {
  max-width: var(--reading-width);
}
.gho-separator__separator {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border: none;
  background: #d8d8d8;
}
.gho-separator__separator--half {
  width: 50%;
}
