/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

 .layout--threecol--interactive-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layout--threecol--interactive-content > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 1024px) {
  .layout--threecol--interactive-content {
    gap: 1rem;
  }

  .layout--threecol--interactive-content.layout--threecol--interactive-content--33-34-33 > .layout__region--first,
  .layout--threecol--interactive-content.layout--threecol--interactive-content--33-34-33 > .layout__region--third {
    flex: 0 1 33%;
    flex-basis: calc(33% - 1rem);
    max-width: calc(33% - 1rem);
  }
  .layout--threecol--interactive-content.layout--threecol--interactive-content--33-34-33 > .layout__region--second {
    flex: 0 1 34%;
    flex-basis: calc(34% - 1rem);
    max-width: calc(34% - 1rem);
  }

  .layout--threecol--interactive-content.layout--threecol--interactive-content--50-25-25 > .layout__region--first {
    flex: 0 1 50%;
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
  .layout--threecol--interactive-content.layout--threecol--interactive-content--50-25-25 > .layout__region--second,
  .layout--threecol--interactive-content.layout--threecol--interactive-content--50-25-25 > .layout__region--third {
    flex: 0 1 25%;
    flex-basis: calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }

  .layout--threecol--interactive-content.layout--threecol--interactive-content--25-50-25 > .layout__region--second {
    flex: 0 1 50%;
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
  .layout--threecol--interactive-content.layout--threecol--interactive-content--25-50-25 > .layout__region--first,
  .layout--threecol--interactive-content.layout--threecol--interactive-content--25-50-25 > .layout__region--third {
    flex: 0 1 25%;
    flex-basis: calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }

  .layout--threecol--interactive-content.layout--threecol--interactive-content--25-25-50 > .layout__region--third {
    flex: 0 1 50%;
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
  .layout--threecol--interactive-content.layout--threecol--interactive-content--25-25-50 > .layout__region--first,
  .layout--threecol--interactive-content.layout--threecol--interactive-content--25-25-50 > .layout__region--second {
    flex: 0 1 25%;
    flex-basis: calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }

}
